-
	var countries = [
		{en: "Austria", ja: "オーストリア"},
		{en: "Czech Republic", ja: "チェコ共和国"},
		{en: "Finland", ja: "フィンランド"},
		{en: "France", ja: "フランス"},
		{en: "Germany", ja: "ドイツ"},
		{en: "Iceland", ja: "アイスランド"},
		{en: "Ireland", ja: "アイルランド"},
		{en: "Italy", ja: "イタリア"},
		{en: "Poland", ja: "ポーランド"},
		{en: "Slovakia", ja: "スロバキア"},
		{en: "Spain", ja: "スペイン"},
		{en: "United Kingdom", ja: "イギリス"},
	];
	var japaneseSpace = "　";
	var posts = [
		{
			title: "フィンランド【ヘルシンキ】",
			titleEn: "Finland (Helsinki)",
			href: "",
			imageUrl: "https://lh3.googleusercontent.com/pJTmR4Kj39gkTZdd-uLgKIYG9OjtlxJkMQyfFDWaRXPJrizAtMz6p5opaxJfWbIVZBdka8Q57w4wuucJfCb8MKMbUrrLk73-O42djUA2_4pmcphokRBIURU3g56LbYrvxGSPwZX1oC4xXf4UsQJ2NFEEeHNvPgZ-S2_Frt663By4BkvnnnPjqNkfO4hfrsTTd1MfCb9LIEiiAFf7nmIwjzqjhCA-KsHUZJaH6zDJ9n70nQuXNo3UQzIfkvXZBZHqXFn2qVZoL2-72_2zpt1dRFMOW5TEMRu0bgEKARfQEH8jSCAEjxye0hwGY6ye5Qtg0hoDAsdGfYWcb6CIshq4pRbeV-v-JCIlk2gNx8keWsJeWW0VLBgaog76mx-udfS32g6CbU7e43SeDDKBFDTl2Kij494HLkWLjqMqTZ3CZAdWeuccGqHv_T9Y-LOxm7gQBgPT9lSmNgT4AcTpCtOE4izgfbvvZQ3hAvJq-JtQYEF2ad5slNudMTx82NZBN-vdLxUt0GIRAtPrDcAMNERs9eFbQz-t2cNTtofbH3Hf37egtbpRVcVQ4zkwZndMDTz8FjUFDmkE7U1agRAeQJDg9zdXG6SwRytNS71XBPhjT2tklDc=w1600-h1200-no",
			width: '200%'
		},
		{
			title: "フランス【パリ、ランス】",
			titleEn: "France (Paris, Reims)",
			href: "",
			imageUrl: "https://i.guim.co.uk/img/static/sys-images/Travel/Pix/gallery/2013/5/9/1368093882563/Eiffel-Tower-Paris-008.jpg?w=620&q=55&auto=format&usm=12&fit=max&s=511355f3b724dcf8d221bf0f273bc854"
		},
		{
			title: "オーストリア【ウィーン】スロバキア【ブラチスラバ】ハンガリー【ブダペスト】",
			titleEn: "Austria (Vienna) Slovakia (Bratislava), Hungary (Budapest)",
			href: "/2011/06/austria-vienna-slovakia-bratislava-hungary-budapest.html",
			imageUrl: "https://lh3.googleusercontent.com/6bh2iGTkbgJSZjhDMj6H5a8pR84vQapm9xOeGvi5FF7sIbar3Fi2AILe_iFVuviqpmU_5fIVKQ47ICFv8wNBHmRNFOPu85qolTjXOTepePCdSGrDf9aZe6cqc--5aYgzUdmvNZY6_PD5MEVRFKU7MBerGkWppaFHQR2_T-dE1aBzHH_zI-6oGkchVjdZ1SfmhLG1dtUzIo3gJPxTX3x7WN8fZjJEPUn8awUFcCFqZtlKtxR9U9Yg69tMdHxz55Z9NK7xEMJ2nqUMylS3HiAyyiAIRGSYh3Bt3BrCX50Yda0Nva2Pbm9fD5mdMeajv-fuOowF7QFCJVF2ztMmB9ltqWOvgvTJCdD8ewVh5MxR5Zf02aNkMfT0Wqrl3VyeqCAC6A1MJk9w0r8y3etdXANHmI3jL5dj1e1YQ2pmvQUxL_PS8Mtr_5BEyvhUzDHwYohpdWkf6T1oTNp14NEctpN396WMQrLEMefHuEh4KLSclvpRw-XrF4_kywgVCXOYNjVr6cfA1RrzKMLXsaUf2Dg8khelVvZgFNeNoPmdBTg1Nbtc_WuhDrRho9rRqlts15XiQtW-KKxFY4phnx9pLaeuz5ymcLuIk40OI0UMiR8QtHq61_-c=w1600-h1065-no"
		},
		{
			title: "スロバキア【ブラチスラバ】チェコ【プラハ、チェスキークルムロフ】ドイツ【ドレスデン】イタリア【ヴェネチア)】",
			titleEn: "Slovakia (Bratislava), Czech Republic (Prague, Cesky Krumlov), Germany (Dresden), Italy (Venice)",
			href: "/2011/11/slovakia-bratislava-czech-republic-prague-cesky-krumlov-germany-dresden-italy-venice.html",
			imageUrl: "https://4.bp.blogspot.com/oS6D39KrnxiR5NSQ9tschB0_9s6HCyuEVy5VlxtgSppO-TmPuAg64dtgXYzlW0_gCfvfV_gVNh0IQH13MEZScyVYv7R0QsbZ7WIBXNlS0wxRc8gpzD0zmejBEBSXChIthKbBTiQbVCsq1YSr5fMEX2uAF68V7R0AjLX5g9SoQ_Tgcg0XeKdMqwYl9-w2czawo9HcgL9OQclkvlVJnTEDPUh_AAwTtKnyzl_ZOD-7Ypnt7UTkcOVQCqiwG1PHMZ1b9cUhqUDZ819sKpmDGaiiQ5OC507REgRAZeSxCfIYPpqcu-fLecEID7s5Y_5StM4ylJ2SNLzTP5RMO7-ANVNd4em6mjvRREujECVB4rjASeF1dUKnQgXTjLF7rTGD9SyB_CTZfe8CNTy-uN9QgwUHVkO8tP_xFoto1iDkS804e9LAano7dn4NiItBBhG2dtm47syNUitN4G6x4A7J0VveFoqJPfBDHIM_IMsmZV6h5U4MabdpAtHxfpzvbfYqls0WCRUcck1xCVsbsLaL_AZngitImHBkolB-zJnBVwr4H_RZACPO_tyP9l8fAyn6nYw1759JyfnKg-CpoODAqpJfCM5EJwBcfj8BX6LUf7MvWm82UKSN=w1804-h1352-no"
		},
		{
			title: "アイスランド【一周】ドイツ【ベルリン、ハンブルグ、リューベック】",
			titleEn: "Iceland (Roundtrip), Germany (Berlin, Hamburg, Luebeck)",
			href: "/2012/08/iceland-reykjavik-germany-berlin-hamburg-luebeck.html",
			imageUrl: "https://lh3.googleusercontent.com/9XRNdfAtTVa9DRTcLuKPMaC9w_j6D7bnnEeuzv4yJszm8YB4Ki8znfB_FH3j2IfyK_cER7x05CJdfgu04PzrfzS354D-d6jR_Ga1CVJHn2nxSVuM1uFwKd30CP65DXuX9wbkqafE4jUBYtfHBNrbyUQ8SvlpSIRCZTHhNLjyju1DSGSmBqWB3oCu9bfSqWNuJkGY07GDAl3zLuVqxGpFfq-Bt8b-g53l2J2q7YJM5ABW0JKWqxEoScinX2b2a2iWlP8x6mItW5TlFQOV3wfwsxFEfUxXAxS-2RLeLykJDp3CUKhcKIC__UgGci7s--Pys0yiwF-JHcshIApoOcLbvzNxAD_2Bv5eHa5jnumadn8Bq6tDYUMFzUvoRmNUuy3TeuuR6nrZCRu7oLXpbE3dFl6BcR1ytZFPZjUeoPCdXpX-RNT6xDCGGP2U4O4_U6nUTtB4ZTuRMN5cvFfS9HYlHMwgSWT9Ls2ZJsgNKu0Q06AR7_61iGSb69gO5G_UBsyq_YPdxtnI43FrmGXr5Ku_VrkzYhZyZzsyVtu1VLksi4JhTyMCddZar4sSLTTAFJe1skfHYs7d2aqmrniynvNlVnPMzGnf0zYTjxptHosQEADIc50g=w1600-h898-no"
		},
		{
			title: "ポーランド【クラコフ、ザリピエ】",
			titleEn: "Poland (Krakow, Zalipie)",
			href: "/2013/05/poland-krakow-zalipie.html",
			imageUrl: "https://3.bp.blogspot.com/OQrBwiX1xVrQTVqUfAhESxRm8LRAyNoq3eXYZXU98GDLglfLOYZAl7mm9h672DyAR28zlQMivo-wtK2XB4hXGucMyhMnj6SCPeQJiMv28STeAL9H2trnFugBceOyZ0PerI07dPcU5OavMZs9EbaSm6mt_viyxrbk5uo--brHHeiS7tTJw5EfRPhG9OCa6OCE46N_t_sW3RPsT_1yPbkg_juaZcQfJ0ucbcwNmUG4Q7-4CffJkkiNVCtxDllxDotVaKPPJc9mi35U33Kz0ozjbZXgWlCiWyajUNJN2daEacVwHuzs19gZ41kRedgklg7xhAVPBvE2GIODkwDbX00ehbywtec3S6ij2qBtC04Lc4w2mImPa3CZvtWXuKkChncCjDOcxTOOuBqKoHI7LtAgNAS5U3Qxvkf24M_nV5hqeKmi2IehQm7Fc9bZXZDZILBhCxrVoON0pFDlJD867lZnu-npTVErikKTWeN4W4NO00vLEmIRmbu55QIT4qf5KPe8VzHLiRfgSxrj-kSzMeWv4qYBgNhTG7PvzssZgg0F2QANMWpyZWrVCV7W0JfFSDUEK34QQKwhdlG2dwJirVU8t-IVZdlqffK8HAAQcNAP9C54lU1H=w800-h534-no"
		},
		{
			title: "スペイン【アンダルシア地方、バレンシア】",
			titleEn: "Spain (Andalusia, Valencia)",
			href: "/2013/06/spain-andalusia-valencia.html",
			imageUrl: "https://lh3.googleusercontent.com/-OQNLqLB6p3xXd8SSYVMavvIUB_KLc07kmQncN_22_yh3O4QxaufOMTEwBzWzysWv4DXJU6qyi8s7XqxtB7MFOljQZp8Y_qbmA2l4fdlfy38X9-OZzKroIevM0qGYnb3ui1a4M7Iqf7Rz7JEB1EnhOI80NnMtVyOW-Woh6hBS6hXpCzN8mln1JyGU3rgtUZ9MGQRQ46TGYb0mU_d6XX8D1KOkUV28gWMrOHbK1dS4xJVNmJLjVHKPHfKWjtAtCP4bwbdh4YHIkNKTB0B-oVqh2GZJQjyp8lsFIzDOTjjzJa422Irlb7O6aYmPckwMgAFlT7cGeKM_iNEvWzo7Peo-jJUzBbiunxOG9JfaJaP1OsEpD3ZgBP9uWph8zLDSGOrgKzxKbgdSrWfWpw1ieEhP57Xd7C_c7tFV_xpAaFJ40fRyBA8rC5VoAUFKzzmb27YQOt_06Ut_dDCHSM4-uSjbYgml3AkFpWqhwkRq2JT9HsklFIpyryoUDfOL-2jfYkrNVbf2WE2o2iAYfnH9R-1NiA9y-plFQlkaoAUjfIacP6o0VNAw8czbizeKCdHzVGv6_sCspmfOd5551VhPUX66tnaJflzBuJX48kMbUcqrupsS-zw=w800-h534-no"
		},
		{
			title: "ドイツ【デュッセルドルフ、ケルン、フランクフルト、ハイデルベルグ、ローテンブルグ、ニュールンベルグ】",
			titleEn: "Germany (Dusseldorf, Cologne, Frankfurt, Heidelberg, Rothenburg, Nuremberg)",
			href: "/2013/07/germany-dusseldorf-cologne-frankfurt-heidelberg-rothenburg-nuremberg.html",
			imageUrl: "https://lh3.googleusercontent.com/W0L1SwBoEl-fkJfzUKWPHjpxw9o_ehdMwmlMnp7sPWLTT7CG6ndwfGcfIbSlUgyHdYQJY096_Z0bG25ZUVOXhLyVciEm4NVxFpyoeYX0Q4DJNP_1Ybluk24LJS1BrExxycX_SQI0OIeQ6imUIuPMkiWXzuwb4lP_J88CExSl4XTgLsOfXdPgzIJ6sBKORQUEw6J_opuqcF0mBS218hq2xcdKeApyGJlpUgby-0fIpiVj60N0oocxLwwoEike9eTaBTbVgB1SgTYDZv_Z-gXP3rkxoKJ7GRQjcW_O94quZDtNfb-8Zsv_Y8GsGQKHJenSfiqMgbK-f6dOUJs0QR_jY9990_6icwtjzsREGfo7_QHTzXIFSkozTo3Q1jJ5I5gQ5p1e6JT8KoYdJKvqEmtI8ODtrK--UIejpI_TRPq7_hilKPaX_nFQSQ53brUTEgSP83PIXOY5qoCc3tqa8Rs3OA-pJlPLM1pP5RrXM_gjeT8quoi-sZ95BECgiVzYNu8UpA6F15WRj6MLu-Q7GsIGeWnmIMDygH6fTTyprJ5GIJ-NOxXK0CT5J8QmpNxdNoV6flXD-9NYbWSLksgOkA9Rto_dMxQPlTkWCEn9MirhRPSfMv1H=w2028-h1352-no"
		},
		{
			title: "ポーランド【ワルシャワ、マズーリ湖水地方、トルン、スヴォヴィンスキ国立公園、グダンスク】",
			titleEn: "Poland (Warsaw, Mazuri Lake District, Torun, Suvovinsuki National Park, Gdansk)",
			href: "/2014/07/poland-warsaw-mazuri-lake-district-torun-suvovinsuki-national-park-gdansk.html",
			imageUrl: "https://lh3.googleusercontent.com/VHybV0FFX7caJK1pvQ34W2EJhn-_GJ5jr8ybV1TVezQoNHFliTEi1mHeVDyU7IDENNiRCMTh6pwPNKUKgiGmTRHThKJOLstcYkSt5YGkeGB0r_ZzwSFRb236Qfrx9sK-r7VNdIhAbtCc1f-6FUQgLn-2c7PFNd0DA14pYdQd5BTj5sksnzYDk3w1TcL4FLDAmQY60lucw-SDIq2xrDgkAcpVIzy6El3eY4DT16_T1P1dYcT_NNukbi1MUhGxWwhbXQljAcV7b5MKDMktopnyQBtcjC2Kr_iKTgbSKoy1jYxtaNX-8SEx0cYyoq8hCxy3NOZ2itoUD5Deh_dgXMVovCWyJReHLzodqCHMEHjXp5HhIMvjhYflma0xy_B7bTMttbmSgjQmA2LUyZKnmTabLEuBRjEHTEJBcBeuE5SEZZGcOGdweawWai5xf8KOcmpVRfnMPWYrRdMR2RHsZpzAOQFAX9WcJ52bngly5iH7HiFwmlP8OET2cc53GOP5UgmiMEC0fsLflyDE4zmiGRXk7QOVHQEtV9QxnIRXSckKBimpggf_Y-2m1CzdYbDbNOruQPmG-KaD_-QawvkG1xy3VjDxJfYcwKSSl9Nsfl6jYNc4aTOg=w2030-h1352-no"
		},
		{
			title: "アイルランド【ダブリン】イギリス【ウエールズ、ブリストル、南部地方】",
			titleEn: "Ireland (Dublin), United Kingdom (Wales, Bristol, southern region)",
			href: "/2015/09/ireland-dublin-united-kingdom-wales-bristol-stonehenge.html",
			imageUrl: "https://lh3.googleusercontent.com/e5e_JsJLJ25OagY2QsUAXGKLppYTb_CAb0pyZJtxRH4cvxaBU3xTbfEFp51H-hDM9Nvaxdgu1vCPdJ5VWfhyezKUGZLO0HSIkd_x6VsdF9n-Wi2fH9omuYdPnuaj1miyibp0cF8Y-ZselRessTJQ07-qMkF5SQHorO3vltvb39ekcE7VkS0o22BRSNTHHKQ3euSy9u-JLicgycMrp1ZV_4xwp7KeyU0ZmypOByOJg6tcQf6v2kKp_jCoZzHJLsBnhchXc-YoFc61bwY7WRcwAg9xpK63Qfj-kxWbmcJj68iHnSjBYldBIqH-I4j6-iG5x2nzmxTW904XMw0OUZWWjguQ4qDTVcs96w4AdbemNFHw5EJCsB95xWx5uQlLJsuACl59Z-OMHekf1nU1Hb1ReJ640d4DxZ3bfok-b51dJuXdwcpazXI-f7TQWBJIXSUK8ey6EIMRuglpNUNsTtYms62noGZwxrEB87i0r2JWiWdTElGNA_sSEat2Un6kEKdopq0UZCfdEWW3bAK78UZ6Cv08F7By8KM8Ie68xBt2NFvqALD5W18jAGnRBK4bSxAITA_9CWck4eiJsCKDBmn7C389PYPWptmyDLet7cBOjnTGmgBR=w2028-h1352-no"
		},
		{
			title: "ドイツ【ヴィッテンベルグ】",
			titleEn: "Germany (Wittenberg)",
			href: "/2016/06/germany-wittenberg.html",
			imageUrl: "https://lh3.googleusercontent.com/7cOPuLxcaQIjN_NRQxfHpVHeFykBPiFdvvyhUOHiZ_STRrlqkkufQ9Opn6yTe7UjMubs7R2ux5sZSWDKLE4VXqJL6_WyIRK_01XkfAS0drrYMYzl3ChJWEHT8svMqwbC5w8ZEMtx0co5ofx1yr8-oX4nxfDzyja_1ngYYioFGsRIQlOdwPXW7_DsxGPBobnCtMok20A-4qyHHoZi4RnTH__sdAqUU8CiWlxAoNHLoLlwrl2ohAAr8Hml7SIKksTcBAweP3HyEvza6CoDrst-FAV8xPWA6JEPX2Qfq2V6oox0RrSO8oH9CONbYNSzcHx8ja048xLLgJ43PWiZgK-Z6f--sveYtyISCg0kGFUFhIqHynjTXTEWwNEaho55KotakNOQNzpxgWXXGsGXGO4ykdNeoz3fsjhC6Y_2W2yLXwD9WSIEgq2e23yljKHIP4iYSSnepOtesPGWlZdqJmyrmL6bsEOWHkvevReGV3A0UscT9be_zEBS_pyRw7xJt-OjcsU7l1ll0hgbVkZQH5ooyqb3yBnZzLYJszs-bV7UY-_H8r2EP5nb3OBFn16QAXaipnBBgGBGwdhEPA7dKJly0x24Jk3zut_cSJu0FxYM_iEoQ-GYKQ=w1804-h1352-no"
		},
		{
			title: "ドイツ【 ワッデン海、ブレーマーハーフェン】",
			titleEn: "Germany (Wadden Sea, Bremerhaven)",
			href: "/2016/07/germany-wadden-sea-bremerhaven.html",
			imageUrl: "https://lh3.googleusercontent.com/yjKIn_VtshkluwP8Jaws5knv5KInprlEDgdBI-6_OJutGcHHWxrps5FvqAB0NPj7r9stDM4FmdAM_an9uhlWHBq3NIXIIbrsw_RHEB278F5x9lc_LlfqU9tu9FX-w6M3YvHyxqhnCO7QUZr4D1ygsHwkf-dMvEzCP413_h4aqjui6udCNTze145CrFQfKIaUhGPLDl2eOyWttf9xFS_vMo8OzGeFe2lnUIf3XTwP0krGEqHIaTdUgEv1SC90w8KzjbSf782BR2TWVdhFleITbGYHrEFq_9CurTh6oF6XR8B7Gxq1Fz7qfXHyDV_am7_4ntEPc25a5dLnkTpqdWR4Cz3TReKTjW3t-z86gyD6QGBzisYvp3HhzTUOaVW3UNHIRCjQtDHR_u1Ryi-AYBUKE4CxWTfbJAYk70Ht8u3MfDfsihkF4OAe8NjOA1Zm_Gl1yUK0HIo_-iKN2cMfZexejU-dLrd-aBjPEBZFLCJe8xuKTz4ZRjTIv1_En0ZeAdl88N9FEswrMaQjuPYMIHiCZwzYNRjQJ0OWKUTnn-BOfkLtnKJRm4co8fRllL4ZjFNCduVvm8kdvgcIstLiRPimtu29xYZ4CxOhFJL0JTAjIFWPtVCItQ=w2028-h1352-no"
		},
	];
	var Bremerhaven = [
		"ドイツ【ワッデン海、ブレーマーハーフェン】",
		"ワッデン海、ブレーマーハーフェン",
		"Germany (Wadden Sea, Bremerhaven)",
		"２０１６年７月　娘５歳　息子２歳",
		"滞在４日間",
		"",
		"https://2.bp.blogspot.com/yjKIn_VtshkluwP8Jaws5knv5KInprlEDgdBI-6_OJutGcHHWxrps5FvqAB0NPj7r9stDM4FmdAM_an9uhlWHBq3NIXIIbrsw_RHEB278F5x9lc_LlfqU9tu9FX-w6M3YvHyxqhnCO7QUZr4D1ygsHwkf-dMvEzCP413_h4aqjui6udCNTze145CrFQfKIaUhGPLDl2eOyWttf9xFS_vMo8OzGeFe2lnUIf3XTwP0krGEqHIaTdUgEv1SC90w8KzjbSf782BR2TWVdhFleITbGYHrEFq_9CurTh6oF6XR8B7Gxq1Fz7qfXHyDV_am7_4ntEPc25a5dLnkTpqdWR4Cz3TReKTjW3t-z86gyD6QGBzisYvp3HhzTUOaVW3UNHIRCjQtDHR_u1Ryi-AYBUKE4CxWTfbJAYk70Ht8u3MfDfsihkF4OAe8NjOA1Zm_Gl1yUK0HIo_-iKN2cMfZexejU-dLrd-aBjPEBZFLCJe8xuKTz4ZRjTIv1_En0ZeAdl88N9FEswrMaQjuPYMIHiCZwzYNRjQJ0OWKUTnn-BOfkLtnKJRm4co8fRllL4ZjFNCduVvm8kdvgcIstLiRPimtu29xYZ4CxOhFJL0JTAjIFWPtVCItQ=w2028-h1352-no",
		"",
		"ドイツの絶景が見たい！という理由で選んだ場所。そしてワッデン海は本当に絶景だった。潮の満ち引きのダイナミックさに感動。こども達も貝をとったり、カニを見つけたり大はしゃぎ。遠浅なので小さい子ど","もと一緒にでも安心で、海の水が温かく気持ちがよい。最寄りのブレーマーハーフェンは体験型博物館が充実した整備された港町。",
		"",
		"<!--more-->",
		"",
		"一泊目。干し草の上で寝る体験をするために泊まったかなり内陸の宿。airbnで見つけた。ふかふかで暖かく草のよい匂いがするが、こどもの寝返りが激しく草も飛んできて快適とはいかず。",
		"",
		"https://lh3.googleusercontent.com/qrJ0hnXGr3bC4LtJpeZqzr7ucOXJWIPKkmmqovdbddRe7GjkPP4RTLCQQMpd21PweWTzzcuFHon5TQ=w993-h662-no",
		"",
		"https://lh3.googleusercontent.com/F-w6ugRUdBW6fL6t46KaJWcsN3MZ8rNKt9LxQEuTz7XTFFRiEBokX7PYCXxaNPkWihSzPrQcABsG8A=w883-h662-no",
		"",
		"広い敷地内に子どもたちが遊べるようにたくさん工夫が凝らされていた。オーナーの犬とも仲良しに。",
		"",
		"https://lh3.googleusercontent.com/gCyqMCCWKAz52uBrOnEltXgycGEoIOaWDn9V6Q2arSme82s1vjxIoRPnP8DqvlU7GMICMV1QibD7iQ=w993-h662-no",
		"",
		"https://lh3.googleusercontent.com/QpgvJUIGWzR67yomgQi01qc2IoJUwng7hbCpEla5ayMYl2ZXqgAuEuArVHk3ZlFXJ41Q23XMxgRTQQ=w993-h662-no",
		"",
		"https://lh3.googleusercontent.com/_g0yUn9ogcQGmyIg9cWJpAk_FJgsNCZnqM_SByNAn6PeXvYrYpwWemKcdcFcAk6RNYXIGqoyD29zpg=w883-h662-no",
		"",
		"https://lh3.googleusercontent.com/zbWrWVJ3zEbE0ZtlAJJ7qKfbjtooGbr1J0Piuo9Of9CiOjfzhO0eYrlal59rR1Q9j2PbQC04zGTDEg=w993-h662-no",
		"",
		"クックスハーフェン Cuxhaven",
		"ビジターセンター Wattenmeer Besucherzentrum 近くの海岸。有料。北部なので暑くはないが、日差しはやはり強い。食べ物、飲料水はあらかじめ大きい町のスーパーで買っておいた方がよい。ケバブを途中で買おうと思ったら、午前中だったからか準備中のところが多かった。駐車は皆がとめているところにしたが、駐車禁止だったようで罰金の紙あり。",
		"",
		"ビーチ入口の掲示板。満潮・干潮等記載あり。",
		"",
		"https://lh3.googleusercontent.com/e-dYY_i-IafKT12j76tuqQJalZI7-kRlg0MDqkOICwu4nNPATvL5Llf06okqh-e5ua2JpKEpXCCGZg=w1177-h662-no",
		"",
		"１時間ほど馬車にのると島に着くそう。",
		"",
		"https://lh3.googleusercontent.com/wI5vWCKCS-YBcBrkymOrjUhE3CydAfvpyelrUfI9VFv7t0IaGaYahi1Pms9hwtAlWO3ZtOx9Db6Q-w=w993-h662-no",
		"",
		"この方は乗馬。後ろに見えるテントのような日よけを持ってきている人が多い。",
		"",
		"https://lh3.googleusercontent.com/LrgEy2XsNRbyXaCmfVmj72YYSChXk8U6N5zX8SgeRvYtdLRuZLB6v7Codw3I2c18t7BHGbSfxgY7lg=w993-h662-no",
		"",
		"干潮時",
		"",
		"https://lh3.googleusercontent.com/YlLY_NmtuMN3vI7SLezBZi5ZesAIbgYEPXDwf3gcKz_952JvRcCIht8M0lJ32xL5A0ReGwuIBCe0Fw=w1177-h662-k-no",
		"",
		"https://lh3.googleusercontent.com/VSbTgKz42DUjnztY1UWQCQ5UycS75aiVUFAczulq4NlsC7kvLMGZl7_nh_ou2La8OvTrgZm8TUnTdg=w993-h662-no",
		"",
		"https://lh3.googleusercontent.com/LZoXdOgY7uSg1OmfaJvN9--N2cHSt5I7aKEz5RwUYdZB2PgdIwvHClJP90-v1LsMdmHJ6vNQBvf35A=w1083-h662-no",
		"",
		"",
		"見つけた蟹。",
		"",
		"https://lh3.googleusercontent.com/Eluo9M_r1Zz_QyWVg0ElvioSSQKHB1gYJrdaJNFukBY3FkLLTgPeJje8INPdHfUi_l1e9YVtw1ILvQ=w993-h662-no",
		"",
		"満潮時",
		"",
		"https://lh3.googleusercontent.com/zwS2Btb2kMLDyB8906JVydigqUxW88en9JuNfnerRZguy1GeFCf7GyyvHuP-53Kf_JahperobIFb-w=w1177-h662-k-no",
		"",
		"囲いは干潮時にお子さんのお父さんが制作",
		"",
		"https://lh3.googleusercontent.com/3kiguPkXji6VOIDqODYsW2n5h00qORbJZt4Z_bTB3wuUmDoYZ6MRhxSRwu0iCIicvWaoC438FYZLvA=w883-h662-no",
		"",
		"泥だらけの貝を満潮時にきれいに。",
		"",
		"https://lh3.googleusercontent.com/iiA6-_24Tj7HK_nXOUXCyBWumkp2YLUqoNGnr-ueNKf2QtrOoJWNWR7J6sGjCl3yvr-fdqj3IidWQQ=w995-h662-no",
		"",
		"再び海水の引き始め。右側の男の子のようにスコップがあると大がかりなものが作れる。",
		"",
		"https://lh3.googleusercontent.com/0vRRzWiWNmooIuUUVHEqoyfjp0Pb7a0qa5ht7jgH7_9cRoaDhrOLpV6cwXkwZimZatUP0zMniFm9Qg=w993-h662-no",
		"",
		"夕日が見れそうな場所へ移動。ブレーマーハーフェンの港も遠くに見える場所。",
		"",
		"https://lh3.googleusercontent.com/IzRFPmxtzeSyxI9RofP4-pvIhqsD_Rtl6kVFhzaCTslkwb6_PgcR9UPCX3cXt-PdQ_CDlEfC673J9g=w883-h662-no",
		"",
		"横に子ども用の小さな遊園地も。",
		"",
		"https://lh3.googleusercontent.com/fI2j1_TmowNOwqNLuhz7mgE5hn_rVxstWhslIUYeWO0_KEpr3uVRyl0p48xAKOgdP7WQFaFocuxuEg=w993-h662-no",
		"",
		"干潟を散歩している人の姿も。結構ぬかるんでいて滑っている人多し。",
		"",
		"https://lh3.googleusercontent.com/W-6cHaGXzdTJyDkbOeB1BpB1PUlop51GHLUR-uM547kqWDCKM-xP-JhebxCT-N15BZeYzQTIBricdg=w1177-h662-k-no",
		"",
		"これだけでも絶景。",
		"",
		"https://lh3.googleusercontent.com/g--P5hesTWGVOFMObv9AYa4OHbqXlBZ4zX8DkG4iApZfxqPPiRqvodN9O0Ale2aFYhfRbabXBXD8NQ=w992-h662-no",
		"",
		"夕日。素晴らしい景色でした。",
		"",
		"https://lh3.googleusercontent.com/jTleFNjpFz2cQ1UVZZcGGQUnh7OyyjwmB72hBd6n0-yseeg7B2BiA90eBHX1MdF3R2UiNElVu-iWAg=w1177-h662-no",
		"",
		"丘の上をのぼるとまた絶景。左側が干潟。",
		"",
		"https://lh3.googleusercontent.com/2mDTMzaV9nn9lJoeEqS3GHN2rRWTAJLeC7PeVRYPl1Eevu0Mh69pyRShV553QOfHTgq1_39FOMDXFW2eMaMgdtUgCNeiey8Xfw9wdfXUE2nHbRr0XRxIPE2YbYI5hl8ksuQ5E-qnW7gjrOMbYxw5sK3BI1Cbme3Mm2c-5VHsVsW7QCSkhYgLStkwIR4sBfmeNcbzylNkMtKAf7Y1DI3aAG6EsGD7LsMUxJFZ3a_ct5rquNseUpQ35dsmvZViuISoS7MnF3oz4RWnDFI-92V6_vy31KvPwao8d3fPCERXbDZFdXG7yy-A6cjzNtX6qwGP-khbzNflkmcrIRK9VSICW7D-ie1zKRfAvNbljA0_htkLQvedXpuM3QXolIz-_mXw0CiYbNZ-VrhY7ZM2yWXg-buLtD1tcaq9aHqSmWT-drUVo1zxoSmYt50HngBk2hE_nfRxFh1h7kovo8BdyqVVpUWbWXUnvqMzhj7RH5sc1gQQPaLukwvnHIz6R2p79luYOVD2atVKXq3_KFsw_vyxKvhXap8lgAWjbjOY5RpdUMVJCMhgkeLCrVJ_yDYEz582GaI3u27bm4qL53P3bB4lSkvsSyYnW3V7pcLfMv7zTcXiWbA0Tg=w2098-h1398-no",
		"",
		"ブレーマーハーフェン Bremerhaven",
		"港町だけあって、魚料理がおいしい。",
		"港で見つけたローカルなレストラン。安くて美味しかった。ドイツ語オンリーっぽい店だったので、表のメニューを書き写し頼んだ。",
		"",
		"https://lh3.googleusercontent.com/6p0t88odRvaZd9ewE8FFlBZ1Z-e8BkKype6f4FN_6ZmHw3LdOekYHK7zq-RgXjHQv0UthM5gyBkmnA=w883-h662-no",
		"",
		"https://lh3.googleusercontent.com/-AZte7z37SW40okD69zRgjsFJL9fE3Zxr-YHkssAD_O3Cy6ELS8PrVCh6V8UMoMJcZtBFLEdfUXYrw=w993-h662-no",
		"",
		"https://lh3.googleusercontent.com/Wlg9pqGfb5WoYtSoq5FjB72hYIxnt4qdmsW9w08Mx9ZLVYFUrCLN56DOgp3pxv97ylCjAg1Qzr11_A=w993-h662-no",
		"",
		"Klimahaus Bremerhaven 8° Ost",
		"世界の気候を体験できる博物館",
		"館内は広い。２歳児と５歳児なら海の動物園の方が満足度は高かったなと思う。小学校中学年以上におすすめ。館内を全部しっかり見ると結構時間がかかる。写真は極々一部。",
		"",
		"右奥のドーム型の建物",
		"",
		"https://lh3.googleusercontent.com/1JlTfgZcQNuGDqh-gBZWPaEJ9J6HDt0jQ0_2xDkwRZ586f_Ok3f1dc8uwwr92Miql0Zcp3tuvF6qUw=w883-h662-no",
		"",
		"入口からすぐ",
		"",
		"https://lh3.googleusercontent.com/4KGHgDQ1YrF4pm2cIRwm4_X41d4c2TApYmtcePrjMPlyRUgTikjhIKyAkqvKyZIhXfgOwX0hlLNZ5g=w497-h662-no",
		"",
		"氷の壁",
		"",
		"https://lh3.googleusercontent.com/vLilz7V93P9vOyLX_YXPLQU39TGyPLBWFqA3szTY8hwLtnML1rshfFbiKi9mRqtBoswJPpyFjE-upg=w883-h662-no",
		"",
		"氷の壁",
		"",
		"https://lh3.googleusercontent.com/LTc8esorlJy4JHGgAGXYND4wMGtwnv8uHVd9rm6yrZUNPocjg7Q_jvZAPrFAANTiYrSjkK4fwxuR_A=w1177-h662-k-no",
		"",
		"南極。薄着なので寒い。",
		"",
		"https://lh3.googleusercontent.com/047UIHgybyQQP4hjLfGmiC8wzjQzmp3haxySGkIRKEnnWvHbkaie3FzhtJG9TOavFSf4OWo_fiamHw=w883-h662-no",
		"",
		"アフリカ。アートのように美しい部屋だったが、暑過ぎて長くいれず。",
		"",
		"https://lh3.googleusercontent.com/h6Wv6WI91OwFTbv-rgk7st9yH2EUR9W35oZY8WARpSS1tKNF8iqqIOH1gWwC24g4r_d2bHy5fiTL9A=w993-h662-no",
		"",
		"満点の星空",
		"",
		"https://lh3.googleusercontent.com/tNZEhWyQKEbM2IQX3hg9tBVXMO5F9WvzbXzqyKXfqAKIhlTa_-sqkeJPAhYAIKa-JdBy3rl55rdsAg=w993-h662-no",
		"",
		"海。",
		"",
		"https://lh3.googleusercontent.com/zuaRQMq7C9McMUy5w4fyF5zpCk1UcD1rmk8txfTpgwrEU5PSBadBAoPp2Y53gBjph89ik6_UT0ELrA=w993-h662-no",
		"",
		"干潟",
		"",
		"https://lh3.googleusercontent.com/xZbX5XYXg0EhmhBNm2y3e5ig4W7T8T8BTLHBRBKK5B-gpOL0Z9O7qXr-biTYeIh0OsWwllhciPhDTw=w883-h662-no",
		"",
		"お天気お姉さん、お兄さん。ブースの横に機械があり、チケットを使って順番をとってできます。混んでなければ何回でも。天気も雷雨中継だったり、いろいろ選べて面白い。",
		"",
		"https://lh3.googleusercontent.com/EwxmGaSJExdqMOLLb4W6GrvUJyCMvsvc1ej5P-XyI0fEA0S4oPrqDeG-pISOv8L3Vq6uDx3-bwEkcQ=w994-h662-no",
		"",
		"https://lh3.googleusercontent.com/Kln_T4pRR6Qkzdzx1BuPzxvTP7AelPIArPBXen_5ndjHVr_AtoMsJpg7Z0Vpsc_C7U4NnHX0PTfMvQ=w993-h662-no",
		"",
		"テラス。疲れて休憩。",
		"",
		"https://lh3.googleusercontent.com/AEDakisFUCgyNzKWl4HVsB3GPjivwMIU27h8RaTWOk5bz4POg53hHo881m1uuC-ccBvgK4W8PgPxmg=w993-h662-no",
		"",
		"ブレーマーハーフェンで泊まった宿",
		"なかなか手ごろで場所がよいところが見つからず、唯一見つかった宿。",
		"ダブルベットに夫と私と息子。娘は持っていたブランケットやピクニックマットを駆使し即席ベット。外にテラスがあり、朝食はそこで。",
		"",
		"https://lh3.googleusercontent.com/UYsE8wcDMoKJnt9YZG3oTqOqxJzVZuR8rIRQr59XrXoRz23CYWOSKKnzWXcZC2nrzMdZh6bMFp1emA=w883-h662-no",
		"",
		"マグデブルグ　Magdeburg",
		"ベルリンへ帰る途中で立ち寄った町。ブレーメンに立ち寄る予定であったが、第２次世界大戦時の爆弾が見つかったとのことであらゆるところが閉鎖されて入れず。",
		"",
		"https://lh3.googleusercontent.com/atDjw9eMI315fO-24MwfnZCslBBhyBhQS00PGzwk3SePgNHPuXeXlxucIoi8LZGi3k5mKkcs7QxwjQ=w883-h662-no",
		"",
		"マグデブルグ大聖堂　Magdeburg Cathedral",
		"教会前の噴水ではしゃぎまわるこども。",
		"",
		"https://lh3.googleusercontent.com/1MqQkVTYA1-VWbu-evDgbgjf6jPagkGf1bqviSM1oTfoAuzCSrRtUtA_XoNFZNRE9xLpsEO7bc-gig=w883-h662-no",
		"",
		"https://lh3.googleusercontent.com/L_HEBuyrfR1e2kEjY6JOL0LwjPQtMoT7Zsf9eS-lFdKi910U3slakN-C-i5GT2idQWbBvi2n0bGx3A=w993-h662-no",
		"",
		"Die Grune Zitadelle von Magdeburg",
		"",
		"教会近くにあるFriedensreich Hundertwasser による建築。",
		"",
		"https://lh3.googleusercontent.com/uziCMBwLCoQ4BMPMsDP1dNtEspnTPghSEzhL-7jXzpFsjkJ_FbFStn8eeXXbRFRfqZVAZ3z_3YHn_w=w883-h662-no",
		"",
		"閉園時間で見れなかったけど、一日居れそうな公園。",
		"",
		"https://lh3.googleusercontent.com/QLW7NKP-GuR2Kl1DNnmRe_zxGzB9U0WkSWs_0ljh4WQ4-OxnLUMqt2PdFTQhkiW6Wb-6cKsaPR29jw=w883-h662-no",
		];
	var Iceland = [
		"アイスランド(一周)、ドイツ(ベルリン、ハンブルグ、リューベック)",
		"Iceland (round), Germany (Berlin, Hamburg, Luebeck)",
		"<h2>旅の始まり1号線</h2>",
		"",
		"地元もレンタカー会社SADCARSよりパジェロをレンタル。他と比べ低価格だったが、空港ピックアップは３０分以上待たされた。",
		"走りやすい国道1号線",
		"5269",
		"",
		"https://lh3.googleusercontent.com/hg6vaiPJO3iQxLdC7HdhtmBYluKmPAHl9UDgC8XE3QgbkFvMr5RqRvl4o5VhqhDKL-Z7Ji6-MX6BNph5S-MeynsTkaheSDxugA1Bkehxjn62rz2_amWGktX2T7toK0qnORoJLgu9m0y8POMRGorpPWV0Sxg-owIDHsWxCuCI2IAVJwHkPe2P4DdjuMIlvecSYI4o4gTSti0Xo0DOAkNmkT3LAuMvlEo3LIBU7kqp9BaJPzknLBR1KhSdvVqqpB7QPVDXhiGOq4fthf_QuOASFWdYxRYzw8wWyA92SBZZdxBnSb6bj3W9gQfZ3Jcg1K70llyYBBDrdCbs_eZVnx2Dg6UfRhN7TIaPP6FZvmiJGf_aJDSq7JviHcmkDsVDHG-i1i9U4ZSu7d0UHcKSMcfsujZz4vVOhBgX-SPpgduOxjzXv67TY-iXmEfbii-xGWXJQBdU6rHPgggBXFQQ5D0yYt1yucI6pNjcLhTLURfMsniHhx_pR2sjIS4ofku8mD6Ne7pquni0saQLDWJpChNfffb90QK6wX3S3OEdMCgpLK3IBtAqtsop7My3ApuVtOFGdhxBXopCk_UIKDhfN_0s5vKyuJLlzRzBUD4ej1EWBOA-lNP-=w1600-h1200-no",
		"",
		"ゴールデンサークルの定番",
		"①シンクヴェトリル国立公園、②ゲイシール、③グルトフォス",
		"ビジターセンターもあり、歩道も整備されており行きやすい。",
		"",
		"<h3>①シンクヴェトリル国立公園  Þingvellir National Park</h3> ",
		"地球の割れ目「ギャウ」が見られる場所。登り坂があるけれど、ベビーカーでも大丈夫であった。一部遊歩道あり。",
		"https://lh3.googleusercontent.com/5cOYOqbUSAJxHcPes5OJ62F_am_ByeMv9vDkuCl2NWFRSTfBGHmlu3ezX_JNX9n3bWxBpxmihX2kRexrz0DWe6_dQgPGIive9dP7yGi9IDgg7tbqY30voF1rDFHzSJfoxr5UpFvNjfZuSOUGz6tJqcN_gWD8TTbNgxZQl6ny9SxrCJSKEIdjtWAZYFkzmtUOXAMkHI5A5dY-2ZDQHW10bohLE5dYcbW6kQOBNa2UOXh7eU4PEJhAcR3V-IQ_vaGE22P1-24AOPSZehzApweavklmA_BWaL7Kyy_p7ehOht8XHwKurqGYyPPfG0byKbqiNx5tGbgEVsJ95nBw9tOahiB6I3hhqvh1fzIAehawJki06jdyzYqygNwH4zjMmzOiRAlSJIVK1IjLePlUiGEE2Qt-h1LhWwalV1SsAuVkCc40arITCF_nGF5iGIhET7JVDbDVGrYUPg9pbtNpWWKzyTISzmnSPa1HKZ7LPzeFPTI6cu6nZEObXfQPMEEl2JfiDdkRYSik4PQUE7yLwlCZn-VqE1YIn7fWl5JF6V8VuWvMUzD16ku4IhhHTwoLdL-KezwWfCnwdXo6w9Z5B5eKlzHS3JUzHDvTzy1VyBGvspc3o1iD=w1600-h1200-no",
		"",
		"https://lh3.googleusercontent.com/g1TGDsM1gadexvsDJMhUGQ6yLZGUizXCzVZ4VPlfLKqNFW_ricXfBhl3MKJhdfmYRlC3l1Ex865Cc9VgxQYo9GGjrgR9X-TOL3tPYc2Bb0PIISFNlBrnm-PWpezNtUbH1FRVglWtgCOl2YVGNoO0CYngXDfrq3GCFaeO27VKOr_BtKdFwkFJCZELnC-qZf4aZkSFE-A5KpCzGJe_hodIrt5YPvj9Q_XAMNECKBrGXt1fIGeXshmOBkDzJdEPpS2Ww5CSkC0JS0MmjfVkZm0SYyc0mBRCXnkuWsPkJhUeWSK2JK3MMSRGob2o3hST8TPVz-6q5ZXkyV2rwyCkLGrdAFtx3jJ1h1LZ_I_HFKbsKHAHrFOF0sKEBBZlYjX29SqGeKn45YqAKWWHEo1Q_d5Eu0T55AOWpYrSrmEB0tQpyJvWBrRsYC7PmtQmkm-DWZWO3ZMKB_u8xHhNmRu39u5qdtcOXf3u7MBi11gATvEGbvgaTWYSDAzAawVCekrEDVhLW7WU_eh7R1SOX-6KM6A05WpadIUWktnKyNCOK3x48EHolKCRVemV_7SAegx2zm4nELRezV6zyHYiJIPcyMY89yuAC1vA7BXZ4iXmXv4KOxuziA6I=w1600-h1200-no",
		"",
		"https://lh3.googleusercontent.com/IIvgo9zCSbApiOizd7zetNFrDasdr7sWRUwpjPJJZEfOw1LBiC4u22w09pjCm49bEqYFtoBXZW9AfM4Ey6ZQRe6nvJ8Cs3p6TQMFLAinX_ndBTZHtp4hhtnrPRTzCGjjyFXTNWZOVeRm8id2z2P43aySAmhyAnY7MdGTez9BgaYVBdBEfjTTB9wierLXfl2FrGRieT50MSy82HPLXQWvs5LCunK8GdTYM7EvdjmAIGaZn_3E8jn6YbpFD5SUTvc3g0_B-ogibqOVncRUnYHULlG-izTDgTe-E5C3oz3cCsFviZCzsLdWm4qCMa2kBO0amZM70KxgEu2Trp-L60RsUxT-mMppHykFaWRG7Hkn-T2eQGNBrYPDTfS5vmXBrasyaRAHheUMVa-IGLyNUNBkUrLUx5AMHu2fCepxFdj9vAVGjTLfeX7YbFhyZQxollzQ6nMauDEslPHcLNs8iRIGlz4peIH5TDDII0Syjjs_Pc2tgWmEPQsVuWKIkJdmJwlyEDw7LR4SAkyhmib9e6Bz6LxJOXZ91rTRKxnbZ02vNSCHMuVXyw-67CjSEnYEIOzt3SnxVd-mGrRBwZSt1GeUgSGBqHh_hsYf8d7mgEwC3ITiAPNG=w1600-h1200-no",
		"",
		"https://lh3.googleusercontent.com/lPHDT0EJD7EPeSAZ7Ta5LV6m4dDvVWKrNlYAYMpwX9ggeJnBr3f0jcOcFWMy8FCc7GhkrT_KnOFZpRNxTwbGoOqTsERwOgkxNuTMYRUNGwAECiGNLQgBiAb0FTfvUCoTBXH4BJh_RU6tF0SHwJetL5uH0XYHdk03uCzxx200Y_HvX4TboosgGSPSOk1cRIW2aDriB8ddiWqzyalOcbcXegGB8AnGQiWMkYe_V-3_6yN-9Qw9UXifMktpKVW9TIu3CJhpwlH3yCqKoCOEIvUqrWkSDwseqWkX3dbOMFQDYn7Z2n6gnhLDE5rSuyoBUficFq_lHl9RCl57_DDpdmj2ANDS-K0oX7Ct3aiO_krtiEy-uzCz67Dt2hVWSmk1-vZyYwfAfNp1aHkxWKDkM_D_wdzWYDPwVlIIEK6b581kxX51Lv3pAyhO53mpntqbcVZIYxlOa_yzdaRARyR7oyFKdZGirEKD02mD2JYk_X03zXAlFV1Qq112gxs4yI_aEkij-T1IcNfgy5KzUEPYg-HmRkGmQK7BTSv77xalns0frCcVq9upgq06068eK3ppa30OGpb0mI93HT2M_tpsJuNCeu_kZrBP8OlsVF4nOKXgG0NVc13c=w1600-h1200-no",
		"",
		"https://lh3.googleusercontent.com/ez_c4CwsZ-OhUhkvc5SuVI_56JaxyzJ1A4Jw8e0fBaUV_Uikh9MI7BA1TSpinBvwg1CpHWM4-qmxyKmld1ATa8i55EvGb0eXyyPmosf-fRIlTW2YO03A6zJyWkhZzHUfB_lu_q-yjYoKofEAqQEAhbA_3oDYvPs7EW_DAiL87c0olwajCj7VwFCA_FgAoaU4Sc4-5ozA9erjpe2UQtEEHbGOPke8TPa17dzbZOLa3wpdwDYRNCpida3lmGgiFjrrBmzD01cn7rJsabsIeAGBeiJ4dZzDBSr9jCc5zUHdJeJTeZomFrT6TYHZAjNRmUZT_-WD01dn6xS1qF9ccoHhn84TQ3eg5MdQPVdjZ_xoBrLZ2h9J-sO5WgzgPYUvZOpSGlKOWAMLmG1n2mWtpPAgyQ4fMeG_IkYIpk3nGKhRf-dUluhOuNiza4lXCvRabSeEzSPk5Vn4JCR2OsxPARUyYdiALkXESMvcUFETLnpyvv1CUhhHnFMJaJkDHehXdLZf4_tJbirBT8VMtqwyE7iDbehquMvh5xpftbu4-kwQOEOwwyMYyszq49i7SPigjuQDrjv43S86ajM2jBAMtRQsuHWLdxN99WNh2aQN2MZtorbrz-Rw=w1600-h1200-no",
		"",
		"本当に割れている。写真左手に見えるのは売店",
		"P8296143",
		"",
		"売店裏手も遊歩道になっている。こちらにも駐車場があり、娘と私はここで待ち夫のみ戻って車で迎えにきてもらう。",
		"P8296144",
		"P8296150",
		"P8296151",
		"",
		"F550号線",
		"シンクヴェトリル国立公園からフロインフォッサル滝へ向かう途中の道",
		"砂利道で思うようにスピードを出せず時間がかかった。天候に恵まれたからこそ楽しめる絶景。",
		"https://lh3.googleusercontent.com/5kVPz8UqKLifcI1tRWU72v4vyEd-m6TWs0mX7_HEReuKFr0pm4rgifgl6IiaKjbkAEfPSSyYjtRHNHoTOBzx0gThABBV3M9hzR-vMd0Wmn-mZxG7gmXune4UAdRAuYGVzFXLpdevUW6Kp_HHF6ckjegwbCsG6f05RHHT4ADa1LdJiFAlOOFntEFQFaUhBAsjBWTIjhWRffLszteT4QEeNu9YkIvcxLVtXDUNGMI2z3qNEOHMEvG_N5tnojaOwSbTAHNKBTXSW22Pi_gcjAH_h2ZZJp8yWzbvYnf4rDDm4CpvwWi-VT7vPW2xpRzqNzAPVsQIOYCQr4kpp7wUN5XdQ4mo4Vbk-vRqQ10P1papdBtPD9GS8hYnc40jeCKFS8Oz5W9Vj0DcoiCpCvY7y39S9RJ1IxedjlPx_ndygNXamSJ0-it3zooelRhGpM2x7Ist7gyNsBQsQxzTl5ls7bYlusreeiC-IYmaN7Mj7n2QpMj0D0ww88UiHrJnBNnOByBSecZ28j8ppfeOTNIbTYodFc2wnveHyHCnGhec9U_EOxTG6HPQjRzLOqZdCxx0qkWA8I1BuY98Qu4vZHau5SgM7L8m3IPLvE1ZAjoIW-0VXINIF1IN=w1600-h1200-no",
		"",
		"https://lh3.googleusercontent.com/spVSHbuNSFKDTG06KIfuHJvJF-FLDpxzBbSit2lPvjwf0Il2Gw-O9mAKwbLf7TJzfn9bbIaGOpNKgQPAT13uFwMbbNCRNAEDu-HQ4R-z7UHcyh7xbo5WZTSj1NN0MOod3_iJJOvRRXXYALZeqIep8lKFiNkorxUwQCIrEfdwbw-o-KDPBOTyKPlhM5207HLivbgp4S7J1aMi4cmtEgBO3CllF66xMpYw9w0sS3EypRp3lc88bDSSk7dGQZjMx4uejTaZCJl2GlYsyKPcL8Vg4LVhvPu53YTn5sy_caGgt1jcKhaKiw7ANfxI3BNm9huS686B_1jQ33fR15uyax5cSixUuP-EcZ22ds4ETSoY1eMrKUhfXjKLQe36DaM2-JHoZLJboB1_pFnW5-i1aPVLplAYd64jqnBXcp2l9TND0LGhmu_VpYlkxanak4hvyNjsJFVRdXX2mmSHA-Gzg2r2fw_HBE0T0vsezSrWX5HdtMYBnyLdTcStom-VomDZlk3HFCQXNVHdak65hoo3PcghIKg0UHZQed1ShmScLvWR7BpS6WDucZFy9MsGKWVGDxp1ZRRa2y96mngfOX_wQ_LwmHaJkkp_rm9YbU1YdgoGlXJV2gie=w1600-h1200-no",
		"",
		"https://lh3.googleusercontent.com/spVSHbuNSFKDTG06KIfuHJvJF-FLDpxzBbSit2lPvjwf0Il2Gw-O9mAKwbLf7TJzfn9bbIaGOpNKgQPAT13uFwMbbNCRNAEDu-HQ4R-z7UHcyh7xbo5WZTSj1NN0MOod3_iJJOvRRXXYALZeqIep8lKFiNkorxUwQCIrEfdwbw-o-KDPBOTyKPlhM5207HLivbgp4S7J1aMi4cmtEgBO3CllF66xMpYw9w0sS3EypRp3lc88bDSSk7dGQZjMx4uejTaZCJl2GlYsyKPcL8Vg4LVhvPu53YTn5sy_caGgt1jcKhaKiw7ANfxI3BNm9huS686B_1jQ33fR15uyax5cSixUuP-EcZ22ds4ETSoY1eMrKUhfXjKLQe36DaM2-JHoZLJboB1_pFnW5-i1aPVLplAYd64jqnBXcp2l9TND0LGhmu_VpYlkxanak4hvyNjsJFVRdXX2mmSHA-Gzg2r2fw_HBE0T0vsezSrWX5HdtMYBnyLdTcStom-VomDZlk3HFCQXNVHdak65hoo3PcghIKg0UHZQed1ShmScLvWR7BpS6WDucZFy9MsGKWVGDxp1ZRRa2y96mngfOX_wQ_LwmHaJkkp_rm9YbU1YdgoGlXJV2gie=w1600-h1200-no",
		"",
		"https://lh3.googleusercontent.com/9-f5jtbGC4cG8wC1Z3GgQnZpNT4VwqZGdQ4W0umRyblE4AOUcG3YU6Jkpk6mifLvAC9COEPH4IQOv6fm_JTpoJ0q0kZ3lxi1V1H4PUWazjxMYxUXKvef8wnAf2aGXFs4MJfSE_B2XLXErzKpIEdD0_jLtkYN6YapRzZ88PbQvGHeUnE3q-SdM2fBm6C7smPfxihh8he3kqDjXi4getjIfHFlTQ_HnUlmNjST5tOY6HdCVA7ds2wmIa0yJfJHFoMtaRSgTm5xYLeq7Hg_oUdJ8zQNJ3vGI72AIi2PTziHjBbn3R8hENnz9CpmhTXbNzA19WnZ48aJpVb29sDhbv26m7a6HnvTGgcfJX2oXyNsTLoezeqjiFM2GhSJQAw3fMteaHkg9eRJ-vSIjVMjUHRPX4D6-onfLy939gEtnq-aWhDDGjFMwsNvuAqWOtwnR_hMKP66p4vOA4QKekx-Q9UK57neyCgH_80BtE-IIYDgnGsYy8UVSs7M7ltj0RdZWWJ7CHIEs_rOVWb0W6SJAFYrZJ7KWR_QHY3Z5BItGDbvbhVKnc2dyEwPXzFLfgwRyLcWjE1hW6i9QpmGXTn5RFMHKxHvcYFKEQiKtAEvX2LiDLjZx-Xx=w1600-h1200-no",
		"",
		"P8296158",
		"",
		"5298",
		"",
		"https://photos.google.com/u/1/album/AF1QipMpI4SOEW6e4OCW6uM9ETlMGL8UARox1-ldnbqZ/photo/AF1QipMkxQFN9CTiiQUBdo2ZsByAM2_LKFm3NDrZKECW?key=CILS1p_M_KrPEg",
		"",
		"途中の標識",
		"5297 ",
		"https://photos.google.com/u/1/album/AF1QipMpI4SOEW6e4OCW6uM9ETlMGL8UARox1-ldnbqZ/photo/AF1QipPNP1bdKNvL3BxBrzpmOHjx6ZXyumyt98Jow3Ft",
		"",
		"フロインフォッサル  Hraunfossar",
		"規模は小さい。遊歩道あり。一周するなら後で1号線から来た方が時間のロスが少なかったと後悔。この道も素敵ではあったが。",
		"https://photos.google.com/u/1/album/AF1QipMpI4SOEW6e4OCW6uM9ETlMGL8UARox1-ldnbqZ/photo/AF1QipO8GBMI8wy8CAlD5jnj8IVjSIZrtu-gfOK2xAqv",
		"",
		"P8296173",
		"",
		"②ゲイシール　Geysir",
		"駐車場から間欠泉がみられる場所まで割と近い。",
		"最初はびっくり。写真を上手に撮るのが意外と難しい。",
		"5326",
		"",
		"少し離れた方がいい写真になりました",
		"https://photos.google.com/u/1/album/AF1QipO9e0L0yh2wk1x7oO8H69R-dDyEuRNzOFaEdBdo/photo/AF1QipMCgWQAW3yXbhIUW0emrXBi0q8PUP6wSA6-2Lw5?key=CIyQ2ND4pPjC9wE",
		"",
		"遊歩道もあり歩きやすいが、娘はひたすら長靴で水の中を",
		"P8306185",
		"",
		"売店",
		"横にレストランも併設されており利用しやすい。",
		"P8306192",
		"",
		"https://photos.google.com/u/1/album/AF1QipO9e0L0yh2wk1x7oO8H69R-dDyEuRNzOFaEdBdo/photo/AF1QipN_xJ97zjjFPqyQhwpIjZ30nmBVM9XjcabUUdIP",
		"",
		"③グトルフォス　Gullfoss",
		"思ったほど遠く感じなかった。途中から砂利道だけれど、整備されており歩きやすい。",
		"P8306199",
		"5335",
		"5338",
		"",
		"滝の近く。岩場で段差あり、足元に注意が必要。爆音で大迫力。",
		"https://photos.google.com/u/1/album/AF1QipO9e0L0yh2wk1x7oO8H69R-dDyEuRNzOFaEdBdo/photo/AF1QipNEWlAm2xiKH-GME9ptq5ds-YKlDO0-jRU-DLiZ?key=CIyQ2ND4pPjC9wE",
		"",
		"ヒャゥルパルフォス　Hjálparfoss",
		"Ｒ３２号線にある。地味だが美しい滝",
		"https://photos.google.com/u/1/album/AF1QipO9e0L0yh2wk1x7oO8H69R-dDyEuRNzOFaEdBdo/photo/AF1QipOO-rlGeAmUrvk-Tl2fJB5I4a4ikMObdNPUuuZZ?key=CIyQ2ND4pPjC9wE",
		"",
		"P8306215",
		"",
		"P8306219",
		"",
		"滝を見ながら夕食",
		"https://photos.google.com/u/1/album/AF1QipO9e0L0yh2wk1x7oO8H69R-dDyEuRNzOFaEdBdo/photo/AF1QipMgaaCTkTW4QQwyolJzii4_I9KYEzu2cVffbvg7?key=CIyQ2ND4pPjC9wE",
		"",
		"暗くなる前に寝床作り",
		"https://photos.google.com/u/1/album/AF1QipO9e0L0yh2wk1x7oO8H69R-dDyEuRNzOFaEdBdo/photo/AF1QipMXXO4kFHktN2XuV9FU-2i3FKSA3ApkqnEp8xgb",
		"",
		"ハウィフォス　Haifoss",
		"一般車不可。少し奥まった場所にあるのでたどりつくまで時間がかかる。とても神秘的な印象を受けた滝。",
		"ハウィフォスの滝へ向かう道。羊の姿も",
		"https://photos.google.com/u/1/album/AF1QipO9e0L0yh2wk1x7oO8H69R-dDyEuRNzOFaEdBdo/photo/AF1QipP0NB8xwxSYAhtRShzn1QRfQcIV1nSfGbfpjd_y?key=CIyQ2ND4pPjC9wE",
		"",
		"5365",
		"",
		"柵なし、断崖絶壁、人おらず。天候不良で長居できず残念であった。個人的に一番神秘的な滝であった。",
		"5367",
		"5368",
		"5369",
		"",
		"セリャランスフォス　Seljalandsfoss ",
		"滝の裏側が歩ける滝",
		"5377 ",
		"P8316242",
		"5390",
		"",
		"スコゥガフォス　Skógafoss",
		"まず水たまりで遊ぶ",
		"P8316243",
		"",
		"迫力満点。近づくと水しぶきがすごく、レインパンツが大活躍。晴れていると虹がかかるそうだがあいにくの天気で残念。",
		"5395",
		"",
		"ファグリフォス　Fagrifoss",
		"一般車不可の道。今となってみれば、なぜこの滝へ向かったか不明。2度橋のない川を車で渡った。ファグリフォスへ向かう道は自然と向き合う道。滝も素晴らしいがそこへ行くまでの過程が冒険。",
		"",
		"案内図",
		"5401",
		"",
		"途中の道",
		"5407",
		"",
		"静けさがさらに美しさを引き立たせる",
		"P9016247",
		"",
		"柵なし、断崖絶壁",
		"5406",
		"",
		"駐車場へ向かう道。広がる大地",
		"P9016253",
		"",
		"駐車場",
		"P9016253",
		"",
		"★ビデオ",
		"",
		"ヨークルスアゥルロゥン氷河湖 Jökulsárlón",
		"絶景大国アイスランドの中でもかなりの絶景。アザラシも見れた。",
		"",
		"https://lh3.googleusercontent.com/vD4tRfc6e1V1rlKsNShfXKsI3udys_Urb-WCxQlkeB2gDLEBRnZp4WNGnv1AQb6Cr-7VaPGOS52XWFFT5GrTikmoW2tsZvc73ZhFQmgKV42zHfff832fuvMpM33e1s6cDeMo6S0sHEqgFgPznGTl_2lQC3UhYeKl99blKolMuL5FuG2h6iaNdiiWYDduPfYDvNforEUebnRkV28QnWvgPQ2CgMqbEt1n5aNJcGr-ZHXJPIc4UfBtGMrrqPNqbeYkrDJAzGn_D1vqIiDfhqivl5a-am-5e4H_xEfYNmvxpo131XkusIZdtg4BropMvdlpRzv-w1mbOPxjotpnbhaBXew361oOZn3NX-l9yTSwTPj_3zvsURmBj8Zg5f6cA2cJRhtUpqj5r7tksKAarX9JKJFj4fx1dUurLtGMPuYhREHV4FeXUC-LI-qqcPPUrn15KO4eTURpnUj-p_sOoAXTY0O6YXl9-MfVQTih0vrBJAVCrYcV8EbayB-Q1ns4gftOgqxvxH5W7TYpEEQe9zZVaUohE6T5w7cuZIl0J01L_k91liB4a2e3uN8X3LsfFF2cISu0i8TuTBJL4ZRCsQQGtlTuVzWXZ5AI4eMmzDlpmZZCahrc=w477-h268-no",
		"",
		"https://lh3.googleusercontent.com/K9Di4jqusr-dMX6d8xzPtNgqsCV61LaA8oz4u0IxYiN31nUH8YdXZNfN3BNt2ziA6PuS5TaMu7w58kfZekA58Fgj4jdOrnpGeyOFL2Ez16MX_dVMTFPetrty-Ng4MqsvdJZErLmXSFlpXaTiijmJoY-ac-6Se4t7DftNApS9wTNGdMuCjDVETJ2NkCcsBlbw0vrO8n0z16JP_UyWAyH3qelBPYJD5rNoL-boTQjlWUZ9V_CImI3Xjy8aBqTlNy1AR3M6QQb6zDMUW5xxQvggMFwGq1564Qne90jf0HCdBRCejAXED0Z-nx0hxMUGstPV6uKhdH2L4t048vxQDaPLWThdS1bAtYnb3C0taiSnu6p1xXtAPkjCnXlUQFu-YcrRn-1B21e9hfwtbGcQrPZbrTCgq4ia_WPzK03ERUXGhW0-8e6G9O6lV437rtI18G_f0d3PHQR7xTRJmR1LpuTfoPjWto3ksBNKJPelDghybtujo3V2sjpVjUd6UnuPmjgooSbdtUhR1VRs7SmvC6yv7Lcjkmswt5znC5H4R0-K29IOKr8y4uqWyKSaCPHnSJyNe9cvEjFWVkot03N3p03Zk6fq1Z53cyolst9SqtOFBeIXa7KN=w1136-h638-no",
		"",
		"5440",
		"",
		"https://lh3.googleusercontent.com/3M5-jUqY0cKhvaT_qgPIYBjSTNIv9BtSqyikyRSUuqYd25ADtl2woxnFcp76HKkwGWLOc_outIFqbMsp6lmjMXNB-hdWctHvVZ_MrQW-8aAtii-848pSH8hZ1A8Q4n4VSnhmJthT48zWjq1HI5eNwu6qaRjoEUcqBs3DW9NU3PHNufLzTQ-x-7JC3X2VsAdsXq8wWOWuqHd4R8RH61DJu2qjADnc-jiHT1MLz8ENPAs1GomShKPxnDFggHm_XQJpimkqCOD2zAGn95Co0VB3S4lMwPJ-EtQfEe-q006IAetRDIT8ROcirHjCRT8-68SjMN7KUCPju_onz5DyDRdmxkSZUNbyUlDVPUxpFSOriCf3ghDko9XOQ9UACGmTqP5Y2f58X13K0GgrfeT00Ph60dfbyxZ_4Q2jfXvNSbGeyQFeQqSZtBhZAHS-BrMVtDKyNhzJWPQDtfVkMFjsfgzJjGTZuIC6l8BRHJ5lJ3lC9yTWbTm9NLGWSpYnniekAdmzxYSqz9NnQHIwzfvEituikxiM9YxHI3QL6biuQ94HMQ7jds_ERdwerRwNIP_nehXOzbMQT5VL9KrXeo3EwZClMRuTpR3oI2k_ZTTLoDPBw2yt2B1k=w1136-h638-no",
		"",
		"https://lh3.googleusercontent.com/cpsXhIZoWvlDn_iVtbWRFBv_Wintogf4kRcKHIrQzDtr0G5ggCIBX3e0Abmgckqbfir0HkM_vUcPPfCeCfy-P-qmRqDbXRjGXvtp13Sfpta3JXmZclp6Ftxz_A249Yv6kmbxfISvMIwvmXd-HwFcQMT6dCcysAJLMwS-iidUIQjKSce6qASTEDZFfgCFsDTfLyRTQ5Ar2S2bOG2Lsg6H2okqG--bZKGr6hcSMh6r6-cVlpvXAMRjw2H8pGmmiXbPjEVMtRgTjziQNEe1j2010VzNlYFNNck-XgSs6IR-jQlwmDVOUc_-WxIDL7mXbH7g9BE8s2A7SSoTW8WdsRTKXOYDHe3Adw2CQJa3VZ1rBycUpKfCgP9f1Tz7ggfdZJZHWmi3GfnM3QCJQq-a8DteoZHW9IeY48FG_WFQ7OFENDyl6ENRiD1XT4kojopu-bgMxIi7ZdVcLN7K0yYyFxTovaegu4JxliSVLww2iKjXYTVjb3rSNFLvwzSOUv4FNjuDuIGcy7ByoXkCK8g_her1FjwieaMRAl1Cp0AtjZT6rMvFIwXB8VN3FtL3VmDxTHdeC7XKo9SgM93YGN2V2n8ws9H58Z35hbkjMGm6_OuF44LtJmSV=w851-h638-no",
		"",
		"皆、いろんな角度から写真を撮っています",
		"https://lh3.googleusercontent.com/ZYiOfQrie0e5vhJZgg8o8NxgvC5P-nIqP5LkpT00Ey9F6i2ISZVisTlq5ABfePt3BkQF4Hjzi-vA88mhBbNGQX2PxqrLu1dnmac1qZsEvZv5-qx4bBtLwD9YcQBkGdlm0xZtRcG7vn7tv7AlMopOjP3uko1Hcs4_WsTQ46Ame-6lbXV6ArNWplJDjFIHT8DtOP7G1GnJdTdefdokDtmY4rCXtbbFXK2dB6E5s1Yj8u7h1yRZP8IJlsIgv1v6KlPsNCyiXy1KgcmVp3O0HNzgQ9NCtJveZLpVaRdqguq7UVA0l8eau9fnO27eNyTy5V3q_8_ZKh0qezyh3O-INVKGOULZBQGZZ6atphTj2pAUGuNqSYbFJqhmwHkZCJTvWbTmMBSORFICtTFr5OoxtWCB-g4MWMxy12K_RDUp3_5n4ybUPq_OXKFkzq901y8yqc1ckssaIVsZXYR6Koxaa3UzmHWqo-EjQCdATOjFV44WCV6Mc3-WqG3fg5S-gmhRupawOUboIuVMaCK1r3e0xUbl_85lVG7sZiPAKY4XiTEqp2LSqVrTt0PqfGvTmbITE2Dy92OY8sPc-7zlOuzZcZHk2FJgthtSfoC6gRS9b-Ipw-BNaBSQ=w1135-h638-no",
		"",
		"https://lh3.googleusercontent.com/_xYNEpybN4lL8B9UHb7w84SzXGdILG7TMbIqqv3UuX9Pzt2DprZdaYBCL8NQ_Oy5LhokApFWa86gvuk68GyEdG99czXPa2XpX21-i14Zg1w56mQYAY-z6fXEWSj6U9m4F1F1hlq0c-TRjVs17s5qS7UoJUYRihTGu3F6BQ2aFcTtESwi7YAqIxfiobWEXmZGX3v1RHOkWlpIUNeduqSODg3XF5mkVR5lNhpTkqXPruM8sXVhf4X27ZBygIJ8JFP27sF-1eOaCTabonpF-XQ8jdqI4B8Hh50I_uPa0oi9jDxdr-wRd8zhCRchjS-1npUXwFDWpB8J9z3jWbRQLEAhuiaamThJc_M1mPO9cbu-4wiMD4kHVoG3WHRSUnnaEuyw4jaP9Ulpea4E31sPTdqtvWEOb0nITC-YWoFIOkGBOzm-7JZqX29IJH0691ccD_9pAGCUsuqMYiFYEp784r1TJ7-I3PXSUU3A_yLxPS33TUPZ5lOQ0X6fTjLDZLxgAk5NW18lkfv0JeUNgk1yvN07uzvA4gdhibiKLhLLhKZOSjbRCn0hcRvPohC6JvrA8IfsDZlqKJRYEGhPUY4WsiUXjmQvSkjGvvasCzWmNtR-2mEhhd3T=w1136-h638-no",
		"",
		"やっぱり水たまり",
		"https://lh3.googleusercontent.com/ddn8A2pXCKzZPLdlbwqcuzjkBhV4G0vSUkfc4Kn_HtY6JxbXDhiOmy_27iBiCDVlythNxL6lRCbGUS1QwiYIbx2oe0ilBkSme0t007QhqfNVRn3DL2IlO_M7RmNNTlsTaCbRvYaFO5ezO2mQFjJaMteYGAy5u68s01a6h5o8fFLzRkYfhE75xzS1iGr7lLPNRXfrUwX8OHeSCxfsjm5N3KoGOEF3vPUFHoutTjGsA6R1HNAAS605uFiuAPXfgUEH8cFlg_LkjkdZh5VnML6Dj6KOs894uB498a-Ph8VN4rl4utmHp8M_6HnELtP-WV-By3pnTFj84hqVjajhVyP4JWhW_JFmgg6PGKzUTSI1C5nmf4PvJEOOyg0CzxbyJcGf7lpBtUS9JwTQy-GjFRVagN89wNQOgA2FJhB58B4pV0RPXCxtJd91rMphCWW5oGO3IozSlHndwz0DfwlM9VECzkfchegnnAqXYF_R-ACrIHJYKXVBapStq_5ieYSr6GtN4Fx90Hr14zgETrp5gp_7ZTlF9QmLZkSl_g9CfYZoXrYj9JAn8b969sDXgS3yWi6gkDGroKpyeARSIAtino0ZxflHqCNcwooySBE6skD-oly8SDtU=w1136-h638-no",
		"",
		"車中泊。寒かった。風の音、氷河の崩れる音が怖かった。",
		"5445",
		"",
		"★ビデオ",
		"",
		"ヨークルスアゥルロゥン氷河湖 Jökulsárlón～デューピヴォーグル Djúpivogur",
		"1号線を進む。フィヨルドに沿って道があるため時間の割に進まない。美しい景色が広がる。",
		"5452",
		"5454",
		"",
		"白鳥がいる湖で休憩",
		"P9026279",
		"",
		"★ビデオ",
		"",
		"山ではなく海岸の羊",
		"5468",
		"",
		"このような景色が続く",
		"5469",
		"5471",
		"",
		"デューピヴォーグル Djúpivogur",
		"ずっと町らしい町がないなかあらわれた小さな町。スーパーがあるとき、食料は多めに買い込むべきだと学んだ。",
		"P9026280",
		"",
		"Langabud museum cafe ベビーチェアやぬりえもおいてあり、居心地も大変よい。",
		"魚介のスープは絶品",
		"5476 ",
		"",
		"その後1号線を北上すると現れたピラミッド山　Bulandstindur",
		"5478",
		"",
		"養殖風景",
		"5480",
		"",
		"939号線",
		"近道。道は多少凸凹。が、こちらも絶景が広がる。",
		"5483",
		"5490",
		"",
		"★ビデオ",
		"",
		"エイイルススタジル　Egilsstaðir",
		"空港もある大きな町。スーパーでお買い物。奥は冷蔵コーナー。寒くていれません。",
		"5493",
		"",
		"風が強く、後部座席で皆で食事するためベビーチェアを外に",
		"5494",
		"5495",
		"",
		"デティフォス　Dettifoss",
		"滝までの道",
		"5506",
		"",
		"遠巻きに",
		"9026282",
		"",
		"圧巻。幅が広く飲み込まれそうな迫力で近くに寄れない",
		"",
		"5510",
		"",
		"★ビデオ",
		"",
		"",
		"デティフォスから続くセルフォスへの道。景色のよい道が続く",
		"",
		"5524",
		"9026284",
		"9026286",
		"",
		"セルフォス Selfoss",
		"迫力はないけれど非常に美しい滝",
		"",
		"5525",
		"",
		"ミーヴァートン～ゴーザフォスの間",
		"ミーヴァートンをゆっくり見たかったけれど、風雨が強く時間がたってもやまずで断念。",
		"途中で見つけたアート",
		"",
		"5552",
		"5551",
		"",
		"いいえ、本物",
		"5546",
		"5544",
		"",
		"ゴーザフォス　Goðafoss",
		"神々の滝。1号線からも駐車場からも近い滝",
		"人が立っているところは岩場で少し登りにくいが皆そこで見ていたので私も。雨ですべるため娘は夫と車内。",
		"5558",
		"",
		"登った岩から見た滝。滝を見過ぎて段々すごさを感じなくなってきた。",
		"5559",
		"",
		"アークレイリ　Akureiri",
		"アークレイリは大きい町だった。雨がひどく街歩きの気分にならず買い物と博物館のみ訪れた。",
		"アークレイリ博物館　Akureiri Museum",
		"5562",
		"5563",
		"5564",
		"",
		"711号線",
		"野生のアザラシをみるため向かう。地図にアザラシの写真あり。見れるのかなと半信半疑であったが向かってみる。",
		"5589",
		"",
		"海岸沿いの711号線",
		"5592",
		"",
		"フリッツァコー　HVÍTSERKUR",
		"フィヨルドの頂上が残ったものだそう",
		"5591",
		"5590",
		"",
		"ILLUGASTAÐIR　 illugastaðir",
		"どこかなどこかなと探しているとついにアザラシのマークあり。車を止めて20分ほど歩いて着いた。",
		"入り口。小さな看板とゲートあり。",
		"",
		"5614",
		"",
		"道のり",
		"",
		"P9046296",
		"",
		"到着",
		"",
		"P9046308",
		"",
		"小屋の中",
		"P9046305",
		"",
		"肉眼では見えず、置いてあった双眼鏡でみてみると。。。。",
		"アザラシの群れ",
		"",
		"5604",
		"5605",
		"5610",
		"",
		"そのまま南下すると羊の群れに遭遇",
		"",
		"5619",
		"",
		"降りて見学",
		"",
		"5629",
		"5630",
		"",
		"★ビデオ",
		"",
		"アゥルバイル野外民族博物館　Open-Air Folk Museum 　Arbaejarsafn",
		"伝統的家屋内も興味深かった。外にすぐでれるのでこどもとも一緒に問題なし",
		"",
		"5658",
		"5659",
		"5657",
		"",
		"レイキャビク　Reykjavík",
		"アイスランド旅も後残りわずか。オーロラ観察、ホエールウオッチング、ブルーラグーンがまだ残っている。",
		"レイキャビクを遠くからみても、教会が一目瞭然",
		"",
		"5677",
		"",
		"レイキャビク市内散歩",
		"",
		"5688",
		"5732",
		"5733",
		"5704",
		"P9066331",
		"P9066338",
		"P9066326",
		"",
		"ハットルグリムス教会 Hallgrímskirkja　",
		"一言でいうと大きい。なかなか静かにできる歳ではないので、ささっと見て終わる。",
		"",
		"5680",
		"5681",
		"",
		"ホエールウオッチング  whale watching",
		"娘は船に乗る直前に転んで大泣き、そのまま船内でお昼寝。私と夫は船酔い。くじらが見れそうになると館内放送が流れるが私は船酔いでそれどころではなく、夫は尾ひれのみ1回見れた。目覚めた後の娘は船酔いなし。",
		"乗る船。天気は良好。",
		"",
		"5708",
		"",
		"綺麗な虹も見れた",
		"",
		"5722",
		"",
		"操縦室へも入れてくれた",
		"",
		"5725",
		"",
		"船酔い",
		"",
		"5730",
		"",
		"雨具置き場で一人かくれんぼ",
		"",
		"5728",
		"",
		"★ビデオ",
		"",
		"オーロラ",
		"レイキャビックの中心地から10キロちょっと離れた宿で撮影。空に最初白い薄いカーテンが現れては消え。寒さと眠気の戦い。",
		"",
		"P9066311",
		"",
		"向こうに見えるのがレイキャビックの町の明かり。この辺も暗いから見えるのよと宿のオーナー",
		"",
		"P9066312",
		"",
		"翌日、場所を変えて。朝方に表れたオーロラ。風が強く寒くていれないため車内で撮影。",
		"",
		"P9076356",
		"P9076357",
		"",
		"ブルーラグーン　 Blue Lagoon,　Bláa lónið　",
		"世界最大の露店温泉。気持ちがよい温度で館内から外の温泉へでるところに腕うき輪の貸し出しあり。",
		"",
		"途中の道",
		"",
		"5770",
		"",
		"かなり広いでも深くはない。貸し出しの腕浮き輪をつけて",
		"",
		"5771",
		"",
		"腕浮き輪が外れやすく、ずっと抱っこもきついのでもってきた浮き輪も併用。泥はつけたが、効果感じず",
		"",
		"5775",
		"",
		"<h2>インフォメーション</h2> ",
		"",
		"<h3>宿泊</h3>",
		"私達が訪れた時期は観光シーズンの終わり。ゴールデンサークルに少し人がいたぐらいで他はどこも空いていた。寒さと雨でテント一度も使用せず。車中泊が2回。あとは車で回りながら見つけた宿に泊まった。シーズン中、予約なしは厳しそうだ。寝袋はゲストハウスでも使用した。車中泊はやはり疲れた。",
		"",
		"車中泊",
		"",
		"P8306232",
		"",
		"ゲストハウス",
		"",
		"P8306230",
		"P9016246",
		"P9036293",
		"5578",
		"P9066324",
		"",
		"<h3>食事</h3>",
		"アイスランドはレストランが高いので、スーパーで食料を調達。スーパーにサラダバーがあることが多く、冷製パスタもあり。。",
		"ゲストハウスに必ず清潔なキッチンとテーブルがあった。ベビーチェアがあるところも多し。",
		"旅行中、曜日の感覚がなくなり日曜日でスーパーが閉まっていて困ったことがあった。小さな町だと店の閉店時間も早いので、大型スーパーがあった時に食料は多めに買うべきと学んだ。",
		"地熱を生かした温室栽培のキュウリやトマトが美味しかった。",
		"",
		"スーパー",
		"",
		"5375",
		"",
		"ゲストハウスのキッチン、テーブル",
		"",
		"5532",
		"5574",
		"5691",
		"",
		"屋外にて夕食",
		"P8306230",
		"",
		"<h3>道路及び車</h3>",
		"1号線は走りやすい。が、1号線から少しずれた方がアイスランドらしさが味わえるように思う。危険回避のため2〜3台の車で行動した方が良いとレンタカー会社の人に言われた。途中道路から外れて側溝に落ちてしまった車も見かけたし、内陸で1時間車とすれ違わない事もあったので運転には注意が必要だ。",
		"車選びははどの道を行くかでかわってくる。",
		"",
		"レンタカー会社と借りたパジェロ",
		"5793",
		"",
		"<h3>子連れには？</h3>",
		"レイキャビックからゴールデンサークルを中心にまわって戻るか、時間をかけて一周がよいと個人的にはよいと思う。短い日数で１周すると車にじっと乗っていなければいけない時間も長くこどもも疲れてしまうし、時間があれば天気の回復を待つこともできる。(娘は車内でよく寝る子どもだったので、移動は特に問題はなかった)",
		"滝周辺に柵や注意書きがないところがほとんどなので、こどもを注意深く見ている必要がある。",
	];
	var html = [];
	var page = Iceland;
	for (var i = 0; i < page.length; i++) {
		if (page[i].match(/^http/)) {
			html.push([
				'<a href="'+page[i]+'" imageanchor="1">',
					'<img class="picture" src="'+page[i]+'" width="100%" />',
				'</a>'
			].join(''));
		} else {
			html.push(page[i] + "<br />");
		}
	}
	html = html.join('');
mixin flag(countryEn)
	svg(viewbox='0 0 640 480', xmlns='http://www.w3.org/2000/svg')
		case countryEn
			when "Austria"
				g(fill-rule='evenodd')
					path(d='M640 480H0V0h640z', fill='#fff')
					path(d='M640 480H0V319.997h640zm0-319.875H0V.122h640z', fill='#df0000')
			when "Czech Republic"
				defs
					clippath#a
						path(d='M-74 0h682.67v512H-74z', fill-opacity='.67')
				g(clip-path='url(#a)', fill-rule='evenodd', stroke-width='1pt', transform='translate(69.38) scale(.94)')
					path(d='M-74 0h768v512H-74z', fill='#e80000')
					path(d='M-74 0h768v256H-74z', fill='#fff')
					path(d='M-74 0l382.73 255.67L-74 511.01V0z', fill='#00006f')
			when "Austria"
				g(fill-rule='evenodd')
					path(d='M640 480H0V0h640z', fill='#fff')
					path(d='M640 480H0V319.997h640zm0-319.875H0V.122h640z', fill='#df0000')
			when "Finland"
				path(d='M0 0h640v480H0z', fill='#fff')
				path(d='M0 174.545h640v130.909H0z', fill='#003580')
				path(d='M175.455 0h130.909v480H175.455z', fill='#003580')
			when "France"
				g(fill-rule='evenodd', stroke-width='1pt')
					path(d='M0 0h640v480H0z', fill='#fff')
					path(d='M0 0h213.337v480H0z', fill='#00267f')
					path(d='M426.662 0H640v480H426.662z', fill='#f31830')
			when "Germany"
				path(d='M0 320h640v160.002H0z', fill='#ffce00')
				path(d='M0 0h640v160H0z')
				path(d='M0 160h640v160H0z', fill='#d00')
			when "Iceland"
				defs
					clippath#a
						path(fill-opacity='.67', d='M0 0h640v480H0z')
				g(fill-rule='evenodd', stroke-width='0', clip-path='url(#a)')
					path(fill='#003897', d='M0 0h666.67v480H0z')
					path(d='M0 186.67h186.67V0h106.67v186.67h373.33v106.67H293.34v186.67H186.67V293.34H0V186.67z', fill='#fff')
					path(d='M0 213.33h213.33V0h53.333v213.33h400v53.333h-400v213.33H213.33v-213.33H0V213.33z', fill='#d72828')
			when "Ireland"
				g(fill-rule='evenodd', stroke-width='1pt')
					path(fill='#fff', d='M0 0h639.995v480.004H0z')
					path(fill='#009A49', d='M0 0h213.334v480.004H0z')
					path(fill='#FF7900', d='M426.668 0h213.334v480.004H426.668z')
			when "Italy"
				g(fill-rule='evenodd', stroke-width='1pt')
					path(d='M0 0h640v479.997H0z', fill='#fff')
					path(d='M0 0h213.331v479.997H0z', fill='#009246')
					path(d='M426.663 0h213.331v479.997H426.663z', fill='#ce2b37')
			when "Poland"
				g(fill-rule='evenodd')
					path(d='M640 480H0V0h640z', fill='#fff')
					path(d='M640 480H0V240h640z', fill='#dc143c')
			when "Slovakia"
				path(d='M0 0h640v480H0z', fill='#ee1c25')
				path(d='M0 0h640v320H0z', fill='#0b4ea2')
				path(d='M0 0h640v160H0z', fill='#fff')
				path(d='M233.004 370.8c-43.025-20.724-104.568-61.858-104.568-143.226 0-81.37 3.89-118.374 3.89-118.374h201.358s3.891 37.005 3.891 118.374c0 81.368-61.543 122.502-104.571 143.226z', fill='#fff')
				path(d='M233.004 360c-39.472-19.013-95.934-56.75-95.934-131.4 0-74.651 3.57-108.6 3.57-108.6H325.37s3.57 33.95 3.57 108.6c0 74.65-56.462 112.387-95.936 131.4z', fill='#ee1c25')
				path(d='M241.446 209.027c10.688.173 31.54.591 50.109-5.622 0 0-.49 6.645-.49 14.385 0 7.742.49 14.386.49 14.386-17.032-5.7-38.064-5.819-50.108-5.666v41.231h-16.883V226.51c-12.044-.153-33.076-.034-50.108 5.665 0 0 .49-6.644.49-14.386 0-7.74-.49-14.384-.49-14.384 18.568 6.213 39.42 5.795 50.108 5.622v-25.894c-9.741-.087-23.779.378-39.65 5.69 0 0 .49-6.645.49-14.386 0-7.74-.49-14.385-.49-14.385 15.848 5.303 29.868 5.776 39.607 5.691-.501-16.398-5.278-37.065-5.278-37.065s9.831.767 13.761.767c3.934 0 13.763-.767 13.763-.767s-4.776 20.667-5.277 37.064c9.739.084 23.759-.388 39.606-5.691 0 0-.49 6.644-.49 14.385 0 7.74.49 14.385.49 14.385-15.87-5.311-29.909-5.776-39.65-5.69v25.894z', fill='#fff')
				path(d='M233 263.275c-19.878 0-30.525 27.575-30.525 27.575s-5.907-13.075-22.125-13.075c-10.973 0-19.06 9.761-24.2 18.8C176.113 328.34 207.964 347.941 233 360c25.039-12.06 56.91-31.657 76.875-63.425-5.14-9.039-13.227-18.8-24.2-18.8-16.219 0-22.15 13.075-22.15 13.075S252.879 263.275 233 263.275z', fill='#0b4ea2')
			when "Spain"
				path(d='M0 0h640v480H0z', fill='#c60b1e')
				path(d='M0 120h640v240H0z', fill='#ffc400')
			when "United Kingdom"
				defs
					clippath#a
						path(d='M-85.333 0h682.67v512h-682.67z', fill-opacity='.67')
				g(clip-path='url(#a)', transform='translate(80) scale(.94)')
					g(stroke-width='1pt')
						path(d='M-256 0H768.02v512.01H-256z', fill='#006')
						path(d='M-256 0v57.244l909.535 454.768H768.02V454.77L-141.515 0H-256zM768.02 0v57.243L-141.515 512.01H-256v-57.243L653.535 0H768.02z', fill='#fff')
						path(d='M170.675 0v512.01h170.67V0h-170.67zM-256 170.67v170.67H768.02V170.67H-256z', fill='#fff')
						path(d='M-256 204.804v102.402H768.02V204.804H-256zM204.81 0v512.01h102.4V0h-102.4zM-256 512.01L85.34 341.34h76.324l-341.34 170.67H-256zM-256 0L85.34 170.67H9.016L-256 38.164V0zm606.356 170.67L691.696 0h76.324L426.68 170.67h-76.324zM768.02 512.01L426.68 341.34h76.324L768.02 473.848v38.162z', fill='#c00')

mixin flag-small(country)
	.flag-small
		a(href='/search/label/#{country.en}' title='#{country.ja}#{japaneseSpace}#{country.en}')
			span= country.en
			+flag(country.en)

mixin sectionFlag(country)
	.cp-postlink.sectionFlag
		a(href='/search/label/#{country.en}' title='#{country.ja}#{japaneseSpace}#{country.en}')
			span.wrap
				span.image
					+flag(country.en)
			span.text
				span.title #{country.ja}#{japaneseSpace}#{country.en}

mixin sectionPost(post)
	.cp-postlink.sectionPost
		a(href=post.href title=post.titleEn)
			span.wrap
				span.image
					img(src=post.imageUrl)
			span.text
				span.title= post.title

doctype html
head
	meta(name="version" content=pkg.version)
	meta(charset='UTF-8')
	meta(name='viewport', content='width=device-width, initial-scale=1.0')
	title Blog
	block livereload
		script(src='http://localhost:35729/livereload.js')
	block style
	script.
		document.documentElement.className = document.documentElement.className.replace(/no-js/, "yes-js");
		document.documentElement.className = document.documentElement.className + (/Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ? " yes-touch" : " no-touch");
		document.documentElement.className = document.documentElement.className + (/iPhone/i.test(navigator.userAgent) ? " yes-iPhone" : " no-iPhone");
	block script
body
	h1 cp-flagsmall-container 
	.cp-flagsmall-container
		each country in countries
			// +flag-small(country)

	h1 cp-postlinks-container 
	.cp-postlinks-container
		each post in posts.reverse()
			// +sectionPost(post)

	h1 Large flags 
	.cp-postlinks-container
		each country in countries
			// +sectionFlag(country)
	h1 Page 
	div!= html
	block script-bottom
